/* Body */
body{
    /* background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.258));
background-repeat: no-repeat; */
background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 49%, #f54a4a56 76%, #f54a4a56 76%);
background-image: no-repeat;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-bottom: solid 2px; 
    padding: 10px;
    position: sticky;
}

#navbar{
    /* border-top: 1px solid #000000; */
    /* border-bottom: 1px solid #000000; */
    color: black;
    text-decoration: none;
    /* height: 22px; */
    /* width: 353px; */
    margin-left: 30px;
}

#nav-nav {
    text-size-adjust: 16.04em;
}

/* Navigation Button */
button {
    font-weight: bold;
    color: white;
    border-radius: 7px;
    width: 168px;
    height: 53px;
    border: darkolivegreen 5px solid transparent;
    background-color: white;
    align-items: center;
    margin-left: 30px;
  }

  .button-nav {
    justify-content: right;
}

button:hover {
    transform: translate(1.2em);
}

/* Home Page Content */
/* Animation */
@keyframes slideInLeft {
    from {
        transform: translate(-300px);
    }
    to {
        transform: translate(0);
    }
}

.slideInLeft {
    animation: slideInLeft 1s ease-in;
}

/* Description */
.container-text{
    display: inline-block;
    position: center;
    height: 10px;
}

.intro-des {
    position: relative;
    top: 40px;
    transform: translate();
    padding-top: 200px;
}

/* About Page - Skills & Experiences */
/* Experience - Work Experience & Education */
#experienceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cardHighSchool {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
}

#cardWork {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
}

#cardSkills {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
    padding: 5px !important;
}

/* Skills */
.text-center {
    margin-top: 65px;
}

/* Projects */
/* Card Flip */
.flip-card {
    background-color: transparent;
    width: 100px;
    height: 200px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 30px;
    border-radius: 71px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front img{
    width: 250px;
    height: 300px;
  }
  
  .flip-card-front {
    margin-top: 30px;
  }
  
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }

  /* Individual Card Edits */
  .projectOne {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px;
    height: 500px !important;
    margin-top: 30px;
}

.projectTwo {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
}

.projectThree {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
}

.projectFour {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
}

.projectFive {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
}

/* Testimonials */
#card1, #card2 {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
}

#card3, #card4, #card5 {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
}

.card-body img {
    width: 200px;
    height: 200px;
    border-radius: 71px;
    margin-left: 15px;
}

#card1, #card2, #card3, #card4, #card4, #card5 {
    padding: 40px;
}

/* Contact Page */
.contact {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 600px !important;
    height: 500px !important;
    margin-top: 30px;
}

.formContent {
    margin-top: 30px;
}