/* Body */
body{
    /* background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.258));
background-repeat: no-repeat; */
background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 49%, #f54a4a56 76%, #f54a4a56 76%);
background-image: no-repeat;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-bottom: solid 2px; 
    padding: 10px;
    position: sticky;
}

#navbar{
    /* border-top: 1px solid #000000; */
    /* border-bottom: 1px solid #000000; */
    color: black;
    text-decoration: none;
    /* height: 22px; */
    /* width: 353px; */
    margin-left: 30px;
}

#nav-nav {
    text-size-adjust: 16.04em;
}

/* Navigation Button */
button {
    font-weight: bold;
    color: white;
    border-radius: 7px;
    width: 168px;
    height: 53px;
    border: darkolivegreen 5px solid transparent;
    background-color: white;
    align-items: center;
    margin-left: 30px;
  }

  .button-nav {
    justify-content: right;
}

button:hover {
    transform: translate(1.2em);
}

/* Home Page Content */
/* Animation */
@keyframes slideInLeft {
    from {
        transform: translate(-300px);
    }
    to {
        transform: translate(0);
    }
}

.slideInLeft {
    animation: slideInLeft 1s ease-in;
}

/* Description */
.container-text{
    display: inline-block;
    position: center;
    height: 10px;
}

.intro-des {
    position: relative;
    top: 40px;
    transform: translate();
    padding-top: 200px;
}

/* About Page - Skills & Experiences */
/* Experience - Work Experience & Education */
#experienceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cardHighSchool {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
}

#cardWork {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
}

#cardSkills {
    border-radius: 71px !important;
    background-color: #9a7fae !important;
    width: 300px !important;
    height: 500px !important;
    margin-top: 30px;
    padding: 5px !important;
}

/* Skills */
.text-center {
    margin-top: 65px;
}